<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Resident Schedule</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>OSU Resident Schedule</h1>
        <p>{{ header_text }}</p>
    </div>

    <p>
        <a href="/date_picker/" class="btn btn-primary" role="button">Select a specific date</a>
        <a href="/rotation_picker/" class="btn btn-primary" role="button">View schedule for a rotation</a>
        <a href="/resident_picker/" class="btn btn-primary" role="button">View schedule for a specific person</a>
    </p>

    {% if groups|length > 1 %}
        <ul class="nav nav-tabs">
            {% for group in groups %}
                {% if loop.first %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a data-toggle="tab" href="#{{ group.pgy}}">PGY {{ group.pgy }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for group in groups %}
                {% if loop.first %}
                <div id="{{ group.pgy}}" class="tab-pane fade in active">
                {% else %}
                <div id="{{ group.pgy}}" class="tab-pane fade">
                {% endif %}
                    <h3>PGY {{ group.pgy }}</h3>
                    {{ group.df | safe }}
                </div>
            {% endfor %}
        </div>
    {% else %}

    {{ groups[0].df | safe }}

    {% endif %}

    <p>
    Note that vacations are not indicated in this page.
    Please check with your team regarding vacations that are scheduled.
    </p>

    <p>
    This was created by David E. Weirich (<a href="mailto:weirich.david@gmail.com">weirich.david@gmail.com</a>)
    entirely in his free time.
    There is no guarentee that this is up to date or correct.
    Use it at your own risk! ;)
    </p>
</div>

</body>
</html>
