<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Resident Schedule</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>OSU Resident Schedule</h1>
        <p>Rotation Selection</p>
    </div>

     <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
          Select a resident by name
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
          {% for name in names %}
          <li><a class="dropdown-item" href="/resident/?name={{ name }}">{{ name }}</a></li>
          {% endfor %}
      </ul>
    </div>

    <br />

    <p>
    This was created by David E. Weirich (<a href="mailto:weirich.david@gmail.com">weirich.david@gmail.com</a>)
    entirely in his free time.
    There is no guarantee that this is up to date or correct.
    Use it at your own risk! ;)
    </p>
</div>
</body>
</html>
